* {
  margin: 0;
  padding: 0;
  font-family: "Rationale", sans-serif;
  font-size: 1.1rem;
  box-sizing: border-box;
}

:root {
  color: black;
  background-color: white;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 10px;
}
